*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
   

}
img{
    width: 100px;
    height: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
}
main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 15px;
    gap: 15px;
    

}

.card{
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.btn{
    width: 75px;
}
.modal{
    background-color: rgb(245, 242, 242, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide-modal{
    display: none;
}
.modal-content{
    border: solid 1px black;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    
    z-index: 1;
    width: 300px;
    height:350px;
}
.close-form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#close-modal{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    
}

.input-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.inpt{
    width: 100%;
    height: 40px;
}
#create-btn{
    width: 100%;
    height: 40px;
}